#pagination.pagination
    - var edge_num = 1;
    - var lenPage = 4;
    - var upper_limit = pageCount-lenPage;
    - var half_page = Math.ceil(lenPage/2)
    - currentPage = parseInt(currentPage);
    - var start = currentPage>half_page?Math.max(Math.min(currentPage-half_page, upper_limit), 1):1
    - var end   = currentPage>half_page?Math.min(currentPage+half_page, pageCount):Math.min(lenPage, pageCount);
    .pager
        if pageCount
            if currentPage==1
                span.prev 上一页
                //-开始1
            else if pageCount!=1
                //-开始2
                a.prev(data-page=parseInt(currentPage)-1,href='?page=#{parseInt(currentPage)-1}') 上一页
                //-em= currentPage == lenPage
            //-产生起始点
            if start>=1
                - var end2 = Math.min(edge_num, start);
                -for(var i=1;i<=end2;i++){
                    //产生开始链接
                    if i == currentPage
                        span.current #{currentPage}
                    else if pageCount!=1
                        a(href='?page=#{i}', data-page=i) #{i}
                -}
                if edge_num < start
                    span …

            //- 产生内部的些链接
            -for(var i=start+1; i<end; i++) {
            //-if i == currentPage
            if i == currentPage
                span.current #{currentPage}
            else if pageCount!=1
                a(href='?page=#{i}',data-page=i) #{i}
            //- 产生内部的些链接
            -}
            //产生结束点
            if end <= pageCount&&pageCount!=1
                if (pageCount - edge_num )> end
                    span …
                - var begin = Math.max(pageCount-edge_num+1, end);
                -for(var i=begin;i<=pageCount;i++){
                    if currentPage<pageCount
                        a(href='?page=#{i}',data-page=i) #{i}
                    else
                        span.current #{i}

                -}

                //div= '产生结束点'

            if currentPage<pageCount
                a.next(href='?page=#{parseInt(currentPage)+1}' ,data-page=parseInt(currentPage)+1) 下一页
            else
                span.next 下一页

    em.pageCount(data-start=start,data-end=end,data-half=half_page)
        | 共#{count}记录
    .jump
        |到第
        input.pageNo(type='text' value=currentPage)
        |页
